body {
	width: 175px;
	height: 175px;
}

#box {
	margin: 0;
	position: relative;
	background-color: red;
	width: 170px;
	height: 95px;
	top: 35px;
	border: black;
	border-style: solid;
}

.slider {
	float: left;
	width: 100px;
	height: 20px;
}

.numberInput {
	float: right;
	width: 50px;
	height: 15px;
}