body {
	width: 175px;
	height: 175px;
}

#box {
	position: relative;
	background-color: red;
	width: 175px;
	height: 100px;
	top: 35px;
}

.slider {
	float: left;
	width: 100px;
	height: 20px;
}

.numberInput {
	float: right;
	width: 50px;
	height: 15px;
}